<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="copyright" content="本页版权归www.frontpay.cn所有·All Rights Reserved" />
        <meta name="description" content="xxx" />
        <meta name="keywords" content="xxx" />
        <meta name="Robots" content="all" />
        <title></title>
        
        

        
<link rel="stylesheet" type="text/css" href="/document/src/css/ui.css?v=20150721">
<!-- 日期选择器样式，独立引入 -->
<link rel="stylesheet" href="/document/src/css/datetimepicker.css?v=20150721"/>

        
        <!--[if IE 8]>
		    <link rel="stylesheet" type="text/css" href="/document/src/css/ie-8.css?v=20150721">
        <![endif]-->

        <!--[if lt IE 8]>
		    <link rel="stylesheet" type="text/css" href="/document/src/css/ie-76.css?v=20150721">
        <![endif]-->
        
        <!-- 字体图标兼容 IE 76 样式 （因为 fonticon 的兼容样式在 less 编译中出错，所以直接用 css，不编译）-->   
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="/document/src/iconfont-ie7/ie7.css?v=20150721">
        <![endif]-->
        <!-- 字体图标 IE 7 以下JS兼容 -->
        <!--[if lte IE 7]>
		    <script type="text/javascript" src="/document/src/iconfont-ie7/ie7.js?v=20150721"></script>
        <![endif]-->

        <!-- html5 Dom 替换方案 以支持IE7 -->
        <!--[if lte IE 9]>
		    <script type="text/javascript" src="/document/src/js/html5shiv.js?v=20150721"></script>
        <![endif]-->
        <!--[if IE 9]>
		    <script type="text/javascript" src="/document/src/js/respond.js?v=20150721"></script>
        <![endif]-->

        

    </head>

    <body >
        
        
<Header></Header>
<div class="uiShow-body">
    <!-- ui导航 -->
    <aside class="uiShow-left">
        <nav class="ui-sidebar" id="sidebar">
            <div class="scroll-y-hidden"></div>
            <ul class="lv1">
                <li>
                    <a href="/document/components.html" class="sidebar-btn">html模板组件</a>
                </li>
                <li class="lv2">
                    <a href="/document/components/breadcrumb.html" class="sidebar-btn">
                        面包屑导航
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/table.html" class="sidebar-btn">
                        表格
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/pagination.html" class="sidebar-btn">
                        分页
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/notice.html" class="sidebar-btn">
                        提示
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/alert.html" class="sidebar-btn">
                        警告
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/step.html" class="sidebar-btn">
                        步骤
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/navigator.html" class="sidebar-btn">
                        导航
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/modal.html" class="sidebar-btn">
                        弹层
                    </a>
                </li>
                <li class="lv2">
                    <a href="/document/components/chart.html" class="sidebar-btn">
                        图表
                    </a>
                </li>              
            </ul>
        </nav>
    </aside>

    <!-- ui内容 -->
    <div class="uiShow-right">
        
<style>
    pre{ white-space: pre}
</style>
    <section id="type" class="ui-section">
        <h1>图表</h1>
        <!-- 警告框结构 -->
        <div class="section-content">
            <h3>
                <strong>结构</strong>
            </h3>

            <div class="ui-example">
                <p class="description">
                    <code>id</code>、<code>height</code>、<code>expand</code>三个参数。
                </p>
                
                
                
                
    <div class="chart-wrap "> 
      <div id="j-chart" style="width: 100%; height: 254px;"></div> 
    </div>


            </div>
            <div class="ui-code">
            
<pre>
    <code>
# 定义面包屑数组 #
{% import "_components/chart.html" as chart %}
{{ chart.render() }}
    </code>
</pre>

            </div>
        </div>

        <div class="section-content">
            <h3>
                <strong>图表标题</strong>
            </h3>

            <div class="ui-example">
                <p class="description">
                    <code>title</code>、<code>small</code>、<code>btns</code>、<code>expand</code>
                </p>
                
                
                
                
<div class="chart-title"> 
   交易数据统计 
   
   <small>( 2015.05.01-2015.05.29 )</small> 
   
   
   <div class="chart-title-btns"> 
      <a href="###" class="btn default small-btn">今日</a><a href="###" class="btn default small-btn current">最近30天</a> 
   </div> 
   
</div>


            </div>
            <div class="ui-code">
            
<pre>
    <code>
{% import "_components/chart.html" as chart %}
{{ chart.title(title="交易数据统计", small="( 2015.05.01-2015.05.29 )" , btns="&lt;a href="###" class="btn default small-btn"&gt;今日&lt;/a&gt;&lt;a href="###" class="btn default small-btn current"&gt;最近30天&lt;/a&gt; ") }}
    </code>
</pre>
        
            </div>
        }
        </div>

    </section>

    </div>
</div>


        
        <script type="text/javascript" src="/document/src/js/jquery.js?v=20150721"></script>
        <script type="text/javascript" src="/document/src/js/framework.js?v=20150721"></script>

        
<script src="/output/src/js/charts.js"></script>
<script>
    $(function(){
        var data = {
            //X坐标
            labels : ["03-01", "03-02", "2/30", "2/30", "2/30", "2/30", "2/30", "2/30", "2/30", "2/30", "2/30", "2/30"],
            //利率数据
            series : [
                // 第一条线
                {
                    name:'本月（3月）',
                    data:["200", "900", "200", "700", "200", "200","100","100","100","100","100","100"]
                },
                // 第二条线
                {
                    name:'上月（2月）',
                    data:["100", "700", "900", "800", "600", "400","300","150","180","100","200","100"]
                }
            ]
        };


        var myChart = new UICharts('j-chart');
        myChart.showLoading({effect: 'whirling'});
        myChart.setOption(data);
    })
</script>

<script>
    $(function(){
        function ajaxHandler(alertClose){
            setTimeout(function(){
                alert('aaa');
                alertClose();
            }, 1000)
        }

        $('#j-alert-5').alert(ajaxHandler);
        $('.alert').alert();
        $('#j-close-btn').on('closed.ui.alert', function(e){
            alert('#'+ e.relatedTarget[0].id +'已关闭')
        });
    })
</script>

        
<script>

    //ui导航点击
    $(function () {

        var sidebar = $("#sidebar");

        sidebar.find("a").click(function () {
            $(sidebar).find("li.active").removeClass("active");
            $(this).parent().addClass("active");
        });

        var url = location.href;
        sidebar.find('a').map(function(){
            if(url.indexOf(this.href) !== -1){
                sidebar.find(".active").removeClass("active");
                $(this).parent().addClass("active");
            }
        })
    });

</script>


    </body>
</html>

